.cache/
.xmake/
.vscode/
.idea/
.VSCodeCounter/
__pycache__
build/
build-xcode/
resources/output/*.obj
resources/outputs/*.obj
resources/output_image/
resources/solver_data/
resources/models/motion/
*.xcodeproj
*.metallib
*.dat
*.mat
*.asv
.clangd
*.state
cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/
imgui.ini