

--extra-index-url https://download.pytorch.org/whl/cu129
torch==2.8.0
torchvision
torchaudio

flash_attn @ https://huggingface.co/MonsterMMORPG/Wan_GGUF/resolve/main/flash_attn-2.8.2-cp310-cp310-win_amd64.whl ; sys_platform == 'win32'

flash_attn @ https://huggingface.co/MonsterMMORPG/Wan_GGUF/resolve/main/flash_attn-2.8.2-cp310-cp310-linux_x86_64.whl ; sys_platform == 'linux'

xformers @ https://huggingface.co/MonsterMMORPG/Wan_GGUF/resolve/main/xformers-0.0.33+c159edc0.d20250906-cp39-abi3-win_amd64.whl ; sys_platform == 'win32'

xformers @ https://huggingface.co/MonsterMMORPG/Wan_GGUF/resolve/main/xformers-0.0.33+c159edc0.d20250906-cp39-abi3-linux_x86_64.whl ; sys_platform == 'linux'

# deepspeed @ https://files.pythonhosted.org/packages/3d/65/1a6394f5d6dee851e9ea59e385f6d6428e3bfe36f83c06e0336e14dcfd11/deepspeed-0.16.4-cp310-cp310-win_amd64.whl ; sys_platform == 'win32'

# deepspeed ; sys_platform == 'linux'

sageattention @ https://huggingface.co/MonsterMMORPG/Wan_GGUF/resolve/main/sageattention-2.2.0-cp39-abi3-linux_x86_64.whl ; sys_platform == 'linux'

sageattention @ https://huggingface.co/MonsterMMORPG/Wan_GGUF/resolve/main/sageattention-2.2.0-cp39-abi3-win_amd64.whl ; sys_platform == 'win32'

triton-windows==3.4.0.post21 ; sys_platform == 'win32'

huggingface-hub
hf_xet
gradio==6.2.0

numpy
Pillow
tqdm
requests

transformers
safetensors

opencv-python-headless
imageio[ffmpeg]

trimesh
plyfile
easydict
zstandard
kornia
timm
meshlib
atom3d

git+https://github.com/EasternJournalist/utils3d.git@9a4eb15e4021b67b12c460c7057d642626897ec8

nvdiffrast @ https://huggingface.co/MonsterMMORPG/Wan_GGUF/resolve/main/nvdiffrast-0.4.0-cp310-cp310-linux_x86_64.whl ; sys_platform == 'linux'

cumesh @ https://huggingface.co/MonsterMMORPG/Wan_GGUF/resolve/main/cumesh-0.0.1-cp310-cp310-linux_x86_64.whl ; sys_platform == 'linux'

cumesh @ https://huggingface.co/MonsterMMORPG/Wan_GGUF/resolve/main/cumesh-0.0.1-cp310-cp310-win_amd64.whl ; sys_platform == 'win32'

nvdiffrast @ https://huggingface.co/MonsterMMORPG/Wan_GGUF/resolve/main/nvdiffrast-0.4.0-cp310-cp310-win_amd64.whl ; sys_platform == 'win32'
